﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Client</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <section class="section">
        <div id="app" class="container">
            <h1 class="title">
                Chat Client
            </h1>
            <div v-if="connected">
                <div v-if="!loggedIn">
                    <div class="field">
                        <h2>{{ nicknameLabel }}</h2>
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input"
                                       type="text"
                                       placeholder="Nickname"
                                       v-model="nickname"
                                       v-on:keyup.enter="sendNickname(nickname)">
                            </div>
                            <div class="control">
                                <a class="button is-info" @click="sendNickname(nickname)">
                                    Send
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div id="messages">
                        <div v-for="chatMessage in messages">
                            <p>{{ chatMessage }}</p>
                        </div>
                    </div>
                    <div>
                        <div class="field has-addons">
                            <div class="control">
                                <input class="input"
                                       type="text"
                                       placeholder="Message"
                                       v-model="message"
                                       v-on:keyup.enter="sendMessage()">
                            </div>
                            <div class="control">
                                <a class="button is-info" @click="sendMessage()">
                                    Send
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else>
                Refresh the application to reconnect
            </div>
            
        </div>
        <script>
            const app = new Vue({
                el: '#app',
                data: {
                    messages: [],
                    socket: undefined,
                    nickname: '',
                    message: '',
                    loggedIn: false,
                    connected: false,
                    nicknameLabel: 'Welcome to our chat server. Please provide a nickname:'

                },
                mounted() {
                    this.socket = new WebSocket(this.getWsUrl());

                    this.socket.onopen = () => this.connected = true;
                    this.socket.onclose = () => this.connected = false;

                    this.socket.onmessage = event => {
                        const response = JSON.parse(event.data);

                        switch (response.Type) {
                            case 1:
                                this.loggedIn = true;
                                break;
                            case 2:
                                this.nicknameLabel = response.Message;
                                break;
                            case 3:
                                this.messages.push(response.Message.replace(/\n/g, "<br />"));
                                break;
                            case 4:
                                this.messages.push("<error> " + response.Message);
                                break;
                            case 5:
                                this.messages.push("*** help ***");
                                this.messages.push(...response.Details);
                                break;
                            case 6:
                                this.messages.push("*** chatrooms ***");
                                this.messages.push(...response.Details);
                                break;
                        }
                            
                    };
                },
                methods: {
                    getWsUrl() {
                        const loc = window.location;
                        const protocol = loc.protocol === 'https:' ? 'wss:' : 'ws:';
                        return `${protocol}//${loc.host}${loc.pathname}ws`;
                    },
                    sendMessage() {
                        if (this.message.length === 0)
                            return;
                        this.socket.send(this.message);
                        this.message = '';
                    },
                    sendNickname(nickname) {
                        this.socket.send(nickname);
                    }
                }
            });
        </script>
    </section>
</body>
</html>